<!doctype html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Mój Projekt Flask{% endblock %}</title>

    <!-- Usuwamy link do Bootstrapa i wklejamy skrypt Tailwinda -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <!-- Dodajemy od razu domyślny kolor tła i tekstu dla całej strony -->
  <body class="bg-gray-100 text-gray-800 font-sans p-6">
    <!-- Twój wycentrowany kontener w stylu Tailwinda -->
    <div class="container mt-5">
      <h1 class="text-6xl font-bold text-blue-600 text-center mb-6">
        Kalkulator wzorów matematycznych
      </h1>
    </div>
    {% block content %} {% endblock %}
    <p>Wynik to {{pole}}</p>
  </body>
</html>
