@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght,MONO@0,300..800,1;1,300..800,1&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");
* {
  background-color: rgb(34, 34, 34);
  color: rgb(0, 202, 0);
  font-family: Embed code;
  font-family: "Google Sans Code", monospace;
}
